.offers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  height: 200px;
  width: 100%;
  .offer {
    position: relative;
    width: calc(100% / 3);
    height: 100%;
    background: #fff;
    overflow: hidden;
    display: flex;
    justify-content: end;
    align-items: center;
    .img {
      object-fit: cover;
      width: 55% !important;
      height: 100% !important;
      margin-left: auto;
      max-width: 50% !important;
    }
    .details {
      position: absolute;
      left: 0;
      margin-left: 20px;
      font-size: 18px;
      font-weight: bold;
      text-transform: capitalize;
      p:nth-child(1) {
        font-size: 25px;
        &::after {
          content: "";
          position: absolute;
          top: 25px;
          left: 0;
          width: 50px;
          height: 2px;
          background-color: gray;
        }
      }
      p:nth-child(2) {
        max-width: 280px;
        margin: 10px 0;
      }

      p:nth-child(3) {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -5px;
          width: 3px;
          height: 100%;
          background: #ff5722d1;
        }
      }
    }
  }
  @media (max-width: 820px) {
    & {
      flex-direction: column;
      height: 500px;
      gap: 5px;
      .offer {
        width: 90%;
        max-width: 90%;
        box-shadow: 0 0 4px rgba(128, 128, 128, 0.13);
        transition: all 0.4s;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          filter: brightness(0.9);
        }
        &:first-child {
          margin-top: 5px;
        }
      }
    }
  }
}
