.products {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 10px;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 325px;
      overflow: hidden;
      background: #fff;
      box-shadow: 0 0 3px #80808037;
      border-radius: 4px;
      padding: 10px 20px;
      transition: all 0.2s;
      .imgParent {
        width: 100%;
        height: 180px;
        overflow: hidden;
        position: relative;
        .img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          object-fit: scale-down;
          width: 100%;
        }
      }

      h3 {
        text-align: center;
        color: #333;
      }

      .desc {
        text-align: center;
        max-width: 100%;
        margin-top: 15px;
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
        .rate {
          display: flex;
          i {
            color: gold;
          }
        }
        .price {
          font-size: 18px;
          font-weight: bold;
          color: #333;
          letter-spacing: 1px;
        }
      }
      &:hover {
        cursor: pointer;
        scale: 1.04;
        z-index: 3;
      }
    }
  }

  @media (max-width: 734px) {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  }

  @media (max-width: 500px) {
    & {
      .cards {
        .card:hover {
          cursor: pointer;
          scale: unset;
          z-index: unset;
        }
      }
    }
  }
}
