.product {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  .product-cont {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0px 0px 20px #00000015;
    padding: 0 5px;
    .img {
      position: relative;
      height: 500px;
      width: 49%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background-color: white;
      img {
        aspect-ratio: 4/4;
        object-fit: scale-down;
        width: 100%;
      }
    }
    .details {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: start;
      width: 49%;
      .title {
        font-size: 40px;
        color: #333;
      }
      .info {
        font-size: 18px;
        line-height: 30px;
      }
      .price {
        font-size: 50px;
        p {
          color: #444;
        }
      }
      .rate {
        display: flex;
        font-size: 25px;
        i {
          color: gold;
        }
      }
      .add-cart {
        display: flex;
        gap: 10px;
        button {
          display: block;
          width: fit-content;
          height: 100%;
          font-size: 25px;
          padding: 1px 29px;
          border-radius: 5px;
          background-color: rgba(58, 226, 32, 0.826);
          color: ghostwhite;
          border: none;
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.149);
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.297);
          }
          &:nth-child(1) {
            background-color: rgba(226, 44, 44, 0.777);
            color: ghostwhite;
          }
        }
      }
    }
  }

  @media (max-width: 853px) {
    & {
      .product-cont {
        display: flex;
        justify-content: space-between;
        width: 95%;
        height: 450px;
        background-color: #eee;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.1215686275);
      }
    }
  }

  @media (max-width: 676px) {
    & {
      .product-cont {
        display: flex;
        justify-content: space-between;
        width: 95%;
        height: 350px;
        background-color: #eee;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.1215686275);
      }
    }
  }

  @media (max-width: 475px) {
    & {
      .product-cont {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 300px;
        background-color: #eee;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.1215686275);
        .info {
          display: none;
        }
      }
    }
  }
}
